{% extends 'adminlte/base.html' %}

<!-- Set title of app -->
{% block title %}TestApp{% endblock %}

<!-- Specify content of main body of page -->
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1>My Investments at Fidelity</h1>
<!--        <h2>Fidelity Investments</h2>-->
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Ticker</th>
                                <th>Quantity</th>
                                <th>Purchase Date</th>
                                <th>Purchase Price ($)</th>
                                <th>Investment Value at Purchase ($)</th>
                                <th>Current Price ($)</th>
                                <th>Current Value ($)</th>
                                <th>1 Day Change ($)</th>
                                <th>1 Day Change (%)</th>
                                <th>3 Months Change ($)</th>
                                <th>3 Months Change (%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ticker, data in investment_data.items %}
                            <tr>
                                <td>{{ ticker }}</td>
                                <td>{{ data.0 }}</td>
                                <td>{{ data.1 }}</td>
                                <td>{{ data.2 }}</td>
                                <td>{{ data.3 }}</td>
                                <td>{{ data.4 }}</td>
                                <td>{{ data.5 }}</td>
                                <td style="color: {% if data.6 > 0 %}green{% else %}red{% endif %}">{{ data.6 }}</td>
                                <td style="color: {% if data.7 > 0 %}green{% else %}red{% endif %}">{{ data.7 }}</td>
                                <td style="color: {% if data.8 > 0 %}green{% else %}red{% endif %}">{{ data.8 }}</td>
                                <td style="color: {% if data.9 > 0 %}green{% else %}red{% endif %}">{{ data.9 }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h2>Current Investment in each share</h2>
                {% for plot_html in plot_htmls %}
                    {{ plot_html|safe }}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h2>Current Investment Value Distribution</h2>
                {{ pie_chart_html|safe }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
